<template lang="pug">
  div.root
    p.page-subtitle Find participants
    b-field(label="By email")
      b-input(v-model="email")
    br
    b-field(label="By username")
      b-input(v-model="username")
    br
    div(v-for="p in advancedParticipantQueryResult")
      p {{ p.short_id }}
      p {{ p.authID }}
      p.name {{ p.name }}
      p {{ p.email }}
      p {{ p.mobile }}
      b-button(@click="() => selectParticipant(p)")
</template>

<script>
export default {
  data() {
    return {
      allParticipants: [],
      email: '',
      username: '',
      p_college: '',
      p_name: ''
    }
  },
  computed: {
    advancedParticipantQueryResult() {
      return this.$store.state.allParticipants
        .filter((part) => {
          return part.email.toLowerCase().includes(this.email.toLowerCase())
        })
        .filter((part) => {
          return part.authID.toLowerCase().includes(this.username.toLowerCase())
        })
        .filter((part) => {
          return part.name.toLowerCase().includes(this.p_name.toLowerCase())
        })
        .filter((part) => {
          return part.college
            .toLowerCase()
            .includes(this.p_college.toLowerCase())
        })
    }
  },
  async mounted() {
    try {
      await this.$store.dispatch('loadAllParticipants')
    } catch (e) {
      this.$buefy.toast.open({
        message: 'Could not load participants data',
        type: 'is-danger'
      })
      throw e
    }
  },
  methods: {
    selectParticipant(part) {
      try {
        this.$store.dispatch('selectParticipant', part.short_id)
      } catch (e) {
        this.$buefy.toast.open({
          message: 'Error occured',
          type: 'is-danger'
        })
        throw e
      }
    }
  }
}
</script>
