<template lang="pug">
  div.root.border-danger
    h1.page-subtitle Declaration
      span.badge.normal-text.is-info(v-if="declaration_signed") &nbsp; Signed
      span.badge.normal-text.is-danger(v-else-if="!declaration_signed") &nbsp; Not signed
    p.normal-text(v-if="!declaration_signed")
      b Sign this declaration before Oct 16th
    p.normal-text(:class="declaration_signed?'is-info':'is-danger'") I hereby declare that my name, gender, and name of my college are correct and I understand that I wont be able to edit it after agree to this declaration. Also I have verified that my college name is the same as that is provided in my college id. I will bring my college id for tathva so that the organizers can verify my college. I understand this details will be printed on certificates when they are issued to me. I understand that I will be fined by tathva if I request for corrections later.
    br
    b-button.is-primary(v-if="!declaration_signed" @click="goToEditor") Edit Profile
    b-button(v-if="!declaration_signed" :class="declaration_signed?'is-pramary':'is-danger'" @click="declare") Proceed to Sign
</template>

<script>
export default {
  computed: {
    declaration_signed() {
      if (this.$store.state.participantProfile)
        return this.$store.state.participantProfile.declaration_signed
      else return false
    }
  },
  methods: {
    goToEditor() {
      this.$router.push('/editprofile')
    },
    async declare() {
      const ready = confirm(
        'Are you sure you want to proceed? You wont be able to edit your profile later'
      )
      if (!ready) return
      try {
        if (!this.$store.state.participantProfile.gender)
          throw new Error('NOGENDER')
        await this.$store.dispatch('completeDeclaration')
        this.$buefy.toast.open({
          message: 'Declaration done',
          type: 'is-success'
        })
        await this.$store.dispatch('loadProfile')
      } catch (e) {
        this.$buefy.toast.open({
          message: 'Sorry, some error occured',
          type: 'is-danger'
        })
        throw e
      }
    }
  }
}
</script>

<style lang="sass" scoped>
button
  margin: 0.5em
.badge
</style>
