<template lang="pug">
  div.root
    div.regable-item(v-for="event in events" :key="event._id")
      p.name Name: {{ event.name }}
      p.category Category: {{ event.category }}
      div.actions
        b-button.is-small(v-if="cardAction && (!selectedItem || selectedItem._id !== event._id)" @click="() => cardAction(event._id)") Select Item
        b-button.is-primary.is-small(v-if="selectedItem && selectedItem._id === event._id" @click="unselect") Unselect
</template>

<script>
export default {
  props: {
    events: {
      type: Array,
      required: true
    },
    cardAction: {
      type: Function,
      default: null
    }
  },
  computed: {
    selectedItem() {
      return this.$store.state.selectedBookableEvent
    }
  },
  methods: {
    unselect() {
      this.$store.dispatch('unselectItem')
    }
  }
}
</script>

<style lang="sass" scoped>
.regable-item
  padding: 1em
  border: 1px solid
  margin: 0.5em 0
  .actions
    margin-top: 1em
</style>
