<template lang="pug">
    div.lecture-interests
      h1.page-subtitle Lecture Interests
      p.normal-text Tell us weather you are interested in lectures. Adizya lectures are exclusively for B.Arch / B.Planning students. Adizya workshops are open to all.
      label.normal-text
        b-button.checkbox(:class="lecture_interest?'is-primary':undefined" @click="toggleLectureInterest")
          b-icon.icon(:icon="lecture_interest?'check':undefined")
        | &nbsp;&nbsp; I want to attend a lecture
      label.normal-text
        b-button.checkbox(:class="adizya_interest?'is-primary':undefined" @click="toggleAdizyaInterest")
          b-icon.icon(:icon="adizya_interest?'check':undefined")
        | &nbsp;&nbsp; I want to attend an Adizya lecture
      p.is-danger Marking your interest here does not guarantee that you will get a seat for lecture. We are asking this to get a rough count of how many students will come for lectures.
</template>

<script>
export default {
  computed: {
    lecture_interest() {
      if (!this.$store.state.participantProfile) return false
      return this.$store.state.participantProfile.lecture_interest
    },
    adizya_interest() {
      if (!this.$store.state.participantProfile) return false
      return this.$store.state.participantProfile.adizya_interest
    }
  },
  methods: {
    async toggleLectureInterest() {
      this.loading_lecture_toggle = true
      const newstatus = this.lecture_interest ? 'false' : 'true'
      await this.$store.dispatch('markLectureInterest', newstatus)
      await this.$store.dispatch('loadProfile')
      this.loading_lecture_toggle = false
    },
    async toggleAdizyaInterest() {
      this.loading_adizya_toggle = true
      const newstatus = this.adizya_interest ? 'false' : 'true'
      await this.$store.dispatch('markAdizyaInterest', newstatus)
      await this.$store.dispatch('loadProfile')
      this.loading_adizya_toggle = false
    }
  }
}
</script>

<style lang="sass" scoped>
div.lecture-interests
  display: flex
  flex-direction: column
  label, p
    margin-top: 0.4em
  .checkbox
    padding: 0.1em
    border-width: 2px
    line-height: 1em
    height: 22px
    width: 22px
    .icon
      height: 16px
      width: 22px
      text-align: center
      font-size: 16px
      line-height: 22px
</style>
