<template lang="pug">
  div
    form.login-form(@submit.prevent="submit")
      h1.page-title Login
      b-field(label="User ID")
        b-input(v-model="login_data.userid" required)
      b-field(label="Password")
        b-input(type="password" v-model="login_data.password" required)
      b-button.is-primary(native-type="submit" v-if="!wait_logging_in") Login
      b-button.is-primary(native-type="submit" v-else loading disabled) Login

    div.notification.is-flex.is-danger(v-if="error==='E_LOGIN_FAILED'") 
      div
        b-icon(icon="alert-circle")
      div(style="padding-left: 1em;") Invalid credentials. Please try again.
    div.notification.is-flex.is-danger(v-if="error==='E_NO_USER'") 
      div
        b-icon(icon="alert-circle")
      div(style="padding-left: 1em;") Given User ID is not found. Please try again.
    div.notification.is-flex.is-warning(v-if="error==='E_EMAIL_NOT_VERIFIED'") 
      div
        b-icon(icon="alert-circle")
      div(style="padding-left: 1em;") 
        | Please login after verifying your account. Instructions have been sent to your email.
</template>

<script>
export default {
  data() {
    return {
      error: null,
      wait_logging_in: false,
      login_data: {
        userid: '',
        password: ''
      }
    }
  },
  methods: {
    async submit() {
      this.error = null
      try {
        this.wait_logging_in = true
        await this.$store.dispatch('login', this.login_data)
        this.wait_logging_in = false
        this.$emit('login')
      } catch (e) {
        this.wait_logging_in = false
        this.$buefy.toast.open({
          message: 'Some error occured',
          type: 'is-danger'
        })
        throw e
      }
    }
  }
}
</script>

<style lang="sass" scoped>
form.login-form
  margin-bottom: 1em
</style>
