<template lang="pug">
  div.participant-finder
    h2.page-subtitle Select Participant
    b-button.is-primary.scan-qr(v-if="!qr_reading" @click="qr_reading = true") Scan QR
    b-button.is-primary.scan-qr(v-if="qr_reading" @click="qr_reading = false") Stop Scanning
    QrcodeStream.scanner(@decode="onDecode" v-if="qr_reading")
    p.normal-text or enter tathva id
    form(@submit.prevent="submit")
      b-field(label="T19-")
        b-input(v-model="short_id" placeholder='Eg. jiqzu1')
      b-button.is-primary(native-type="submit" v-if="!wait_finding") Select
      b-button.is-primary(native-type="submit" v-else loading disabled) Select
    
    h2.page-subtitle Selected Participant
    div(v-if="!activeParticipant") None
    div.participant(v-else="activeParticipant")
      p.short_id Tathva ID: 
        span.page-subtitle {{ activeParticipant.short_id }}
      p.name Name: {{ activeParticipant.name }}
      p.gender Gender: {{ activeParticipant.gender }}
      p.college College: {{ activeParticipant.college }}
      p.mobile Mobile: {{ activeParticipant.mobile }}
      p.email Email: {{ activeParticipant.email }}
      br
      b-tag.is-success.is-normal(v-if="activeParticipant.tathva_pass") Tathva Pass Issued
      div.bookings
        h3 Booked Items
        ul
          li.booking(v-for="event in activeParticipant.events")
            p Name: {{ event.name }}
            p.category Category: {{ event.category.split(':')[0] }}
            b-button.unreg.is-danger.is-small(v-if="itemAction" @click="() => itemAction.fn(event)") {{ itemAction.label }}
</template>

<script>
import { QrcodeStream, QrcodeDropZone, QrcodeCapture } from 'vue-qrcode-reader'
export default {
  components: {
    QrcodeStream,
    QrcodeDropZone,
    QrcodeCapture
  },
  props: {
    itemAction: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      wait_finding: false,
      qr_reading: false,
      short_id: ''
    }
  },
  computed: {
    activeParticipant() {
      return this.$store.state.activeParticipant
    }
  },
  methods: {
    async submit() {
      try {
        this.wait_finding = true
        if (this.short_id.length !== 6) throw new Error('INVALID_LENGTH')
        this.participant = await this.$store.dispatch(
          'findParticipant',
          this.short_id.toUpperCase()
        )
        this.wait_finding = false
        this.qr_reading = false
        this.$emit('found')
      } catch (e) {
        this.wait_finding = false
        this.qr_reading = false
        if (e.message === 'INVALID_LENGTH') {
          this.$buefy.toast.open({
            message: 'Tathva ID must be 6 charecters long',
            type: 'is-danger'
          })
          return
        }
        if (e.response && e.response.status === 404) {
          this.$buefy.toast.open({
            message: 'No such participant',
            type: 'is-warning'
          })
          return
        }
        this.$buefy.toast.open({
          message: 'Some error occured',
          type: 'is-danger'
        })
        throw e
      }
    },
    async onDecode(decodedString) {
      this.short_id = decodedString
      try {
        if (this.short_id.length !== 6) {
          this.$buefy.toast.open({
            message: 'Seems like the QR is wrong',
            type: 'is-danger'
          })
          return
        }
        await this.$store.dispatch('findParticipant', this.short_id)
        this.qr_reading = false
        this.$emit('found')
      } catch (e) {
        this.$buefy.toast.open({
          message: 'Could not find participant',
          type: 'is-danger'
        })
        throw e
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.scan-qr
  margin-bottom: 1em
.scanner
  margin-bottom: 1em
.participant
  margin-top: 1em
  .gender
    text-transform: capitalize
  div.bookings
    margin-top: 1em
    li
      margin-top: 0.5em
      border: 1px solid
      padding: 1em
      .unreg
        margin-top: 1em
        margin-right: 0
        margin-left: auto
        display: table
    .category
      text-transform: capitalize
</style>
