<template lang="pug">
  div.profile
      div.profile-info
        div.normal-text.name Signed in as {{ userName }}

</template>

<script>
export default {
  computed: {
    userName() {
      return this.$store.state.loggedInUser
    }
  }
}
</script>

<style lang="sass">
.profile
  display: flex
  flex-direction: row
  @media(max-width: 512px)
    flex-direction: column
.profile-info
  margin: 1em
  @media(max-width: 512px)
    margin: 0.5em
  .gender
    text-transform: capitalize
#tathva-id
  font-size: 1em
  font-weight: normal
  text-transform: uppercase
  margin-top: 2em
</style>
