<template lang="pug">
  div
    form 
      b-field(label='Search Event')
        b-input(v-model="query")
    EventsList(v-if="!selectedItem" :events="queriedEvents" :cardAction="selectItem")
    EventsList(v-else :events="[selectedItem]" :cardAction="selectItem")
</template>

<script>
import EventsList from '~/components/EventsList'
export default {
  components: {
    EventsList
  },
  props: {
    showEvents: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      query: '',
      selectItem: (item) => {
        try {
          this.$store.dispatch('selectItem', item)
        } catch (e) {
          this.$buefy.toast.open({
            message: 'Error, unable to select item',
            type: 'is-danger'
          })
          throw e
        }
      }
    }
  },
  computed: {
    selectedItem() {
      return this.$store.state.selectedBookableEvent
    },
    queriedEvents() {
      let list = this.$store.state.allEvents
      if (this.$store.state.allEvents) {
        list = list.filter((event) => {
          return event.name.toLowerCase().includes(this.query.toLowerCase())
        })
        if (!this.showEvents)
          list = list.filter(
            (event) => event.category.split(':')[0] !== 'event'
          )
        return list
      } else return []
    }
  },
  async mounted() {
    try {
      await this.$store.dispatch('loadEvents')
    } catch (e) {
      this.$buefy.toast.open({
        message: 'Could not load events list',
        type: 'is-danger'
      })
      throw e
    }
  }
}
</script>
