$event-card-width: 30em;
$event-card-height: 20em;

.event-cards {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5em;
  @media screen and (max-width: 719px){
    grid-template-columns: 1fr;
  }
}

.event-card {
  background-color: rgba(0, 0, 0, 0.74);
  height: auto;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-right: 1em;
  margin-bottom: 1em;
  box-shadow: #00000033 2px 2px 1px;
  img {
    object-fit: cover;
    width: 100%;
  }
  .event-card-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  .event-card-left {
    padding: 1em;
    padding-top: 3em;
    background: #111111cc;
    transition-duration: 0.2s;
    color: #fff;
    font-size: 1em;
    line-height: 1.3;
    width: 100%;
  }
  .event-card-right {
    padding: 1em;
    padding-top: 1em;
    width: 100%;
    background: #333333f5;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    &>div {
      &:first-child {
        width: 100%;
      }
      margin-bottom: 1em;
      font-weight: bold;
      font-size: 0.7em;
      text-transform: uppercase;
    }
    &>div>div {
      font-weight: normal;
      font-size: 0.9rem;
    }
    .event-card-action {
      margin-top: auto;
      .button {
        width: 100%;
      }
    }
  }
  .event-title {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.4em;
  }
  .event-card-price {
    font-weight: bold;
  }

}

.event-card:hover {
  .event-card-left {
    background: #333333ee;
  }
}