@import '~/assets/palette';

// font
$family-sans-serif: '"Open Sans", "Roboto"';

// Set your colors
// $primary: #3485ff;
$primary: $color-primary-1;
$secondary: #252831;
$white: #fff;
$white-1: rgb(243, 243, 243);
$white-2: #ccc;

$radius: 0;
$box-radius: 0px;
$menu-item-radius: 0px;
$input-shadow: none;
$input-focus-border-color: $primary;
$input-focus-box-shadow-size: 0 0 0 0;
$notification-padding: 0.5rem;

$tablet: 720px;

/* ---- */

@import '~bulma/sass/utilities/_all';
$primary-invert: findColorInvert($primary);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": (#eee, $black),
    "black": ($black, #eee),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert)
);

button.is-primary {
  background-color: $primary;
  color: $primary-invert;
}

.border-danger {
  border-color: $danger
}
.page-subtitle.is-danger {
  color: $danger;
}
p.is-danger, span.is-danger {
  color: $danger;
  font-size: 16px;
}
p.is-info, span.is-info {
  color: $info
}
@import '~bulma';
@import '~buefy/src/scss/buefy';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600&display=swap');

$title-font: 'Source Sans Pro' 300, 'sans-serif' 300;

.participant-finder {
  .participant {
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.438);
    background-color:$white-1;
    padding: 1em;
    .bookings {
      li.booking {
        background-color: white;
        border-color: skyblue;
        border-radius: 5px;
      }
    }
  }
}

.reg-box {
  background-color: $white-1;
  border-color: transparent;
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.438);
  border-radius: 4px;
  hr {
    background-color: $white-2;
  }
}
body {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 13px;
}

.label {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 400;
  &:not(:last-child) {
    margin-bottom: 0.1em;
  }
}

.tathva-logo {
  background: url('/res/tathva-logo.png');
  height: 4em;
  margin-bottom: 1em;
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.main-content {
  /* Cancel negative margins of .main-content.columns */
  margin: 0;
}

.normal-text {
  font-size: 16px;
}
.page-subtitle {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.page-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
}

@media screen and (max-width: 719px){
  .section.columns {
    padding-left: 0;
    padding-right: 0;
  }
}

h1.checkout-total-price {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}
.proceed-to-pay {
  .info {
    color: $danger;
  }
}

.cart-mini {
  padding: 1rem;
  border: 1px solid $primary;
  box-sizing: border-box;
  background-color: #eee;
}

.qrcode {
  canvas {
    display: block;
    margin: auto;
  }
}
.profile-info {
  &.editor {
    @media screen and (max-width: 512px){
      text-align: left;
    }
  }
  @media screen and (max-width: 512px){
    text-align: center;
  }
  .profile-name, .profile-tathva-id {
    font-size: 2em;
  }
  .profile-college, .profile-email {
    font-size: 1rem;
  }
}

body {
  margin: 0;
}

.menu-list {
  display: flex;
  flex-direction: column;
  background: $primary;
  li {
    width: auto;
    flex-shrink: 0;
    box-sizing: border-box;
    border-right: 2px solid $white;
    @media screen and (max-width: $tablet) {
      padding: 1em;
    }
  }
  @media(max-width: $tablet) {
    overflow-x: auto;
    flex-direction: row;
    margin-left: -1em;
    margin-right: -1em;
    border-bottom: 0.2em solid $color-primary-1;
  }
  @media(min-width: $tablet) {
    border-top: 0.2em solid $color-primary-1;
  }
  a {
    color: $white;
  }
  a:hover {
    background: lighten($primary, 5%);
    color: $white;
  }
  a.is-active {
    background: darken($color-primary-1, 20%);
  }
  @media(max-width: $tablet) {
    a:hover, a.is-active {
      border-bottom: solid 0.2em lighten($color-primary-1, 20%);
      margin-bottom: -0.2em;
    }
  }
  @media(min-width: $tablet) {
    a.is-active{
      border: none;
    }
  }
}


@media(min-width: $tablet) {

  html {
    overflow: hidden;
  }

  .page-container {
    max-height: 100vh;
    overflow-y: scroll;
  }

  .nav-container {
    height: auto;
  }

  .cart-mini {
    height: auto;
    overflow-y: auto;
  }

}

.border-box {
  box-sizing: border-box;
}
.page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  .search {
    width: 300px;
    height: 3em;
  }
}

html, body {
  height: 100%;
}
.main-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  @media screen and (max-width: 719px){
    flex-direction: column;
    position: relative;
  }
  .nav-container {
    min-width: 300px;
    flex-shrink: 1;
    @media screen and (max-width: 719px){
      display: block;
      position: relative;
    }
  }
  .page-container {
    box-sizing: border-box;
    padding-top: 1em;
    @media screen and (max-width: 719px){
      width: 100%;
      height: 100%;
      min-height: 600px;
      display: block;
      position: relative;
    }
    position: relative;
    flex-grow: 1;
    width: calc(100vw - 300px);
    box-sizing: border-box;
    overflow-x: scroll;
  }
}

section.proceed-to-pay {
  width: 100%;
}

#__nuxt, #__layout {
  height: 100%;
}

@import './event-cards.scss';
@import './profile.sass';