<template>
  <section class="main-content columns">
    <aside class="nav-container column">
      <div class="tathva-logo"></div>
      <ul class="menu-list">
        <li
          v-for="(item, key) of pages"
          :key="key"
          :class="item.mobile_only ? 'mobile-only' : ''"
        >
          <nuxt-link :to="item.to" exact-active-class="is-active">
            {{ nameify(item.title) }}
          </nuxt-link>
        </li>
      </ul>
      <br />
      <Profile v-if="isLoggedIn" />
    </aside>

    <div class="container page-container column is-9 ">
      <nuxt />
      <b-loading
        :is-full-page="true"
        :active.sync="isLoading"
        :can-cancel="false"
      ></b-loading>
    </div>
    <!-- CAUTION OVERLAY -->
    <div
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100vh; background: #333; color: #fff !important;"
    >
      <div class="section columns is-centered" style="padding: 1em">
        <div class="column is-5">
          <h1 class="title" style="color: #fff; margin-top: 5em;">
            This is a test site
          </h1>
          <div>
            Actual site is at a different url
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="sass" scoped>
.cart-mini
  margin-left: 0.3em;
</style>

<script>
import Profile from '~/components/Profile'
export default {
  components: {
    Profile
  },
  computed: {
    /* eslint camelcase: 0 */
    displayCart() {
      return (
        !this.isLoading &&
        this.$route.name !== 'checkout' &&
        this.$route.name !== 'register'
      )
    },
    isLoggedIn() {
      return this.$store.state.isLoggedIn
    },
    isLoading() {
      return (
        this.$store.state.isLoggedIn &&
        this.$store.state.participantProfile === null
      )
    },
    pages() {
      const pages = [
        {
          title: 'Login',
          icon: 'account',
          to: { name: 'login' },
          state: 'LOGGED_OUT'
        },
        {
          title: 'Data Admin',
          icon: 'account',
          to: { name: 'data-admin' },
          state: 'data'
        },
        {
          title: 'Tathva Admin',
          icon: 'account',
          to: { name: 'tathva-admin' },
          state: 'pass'
        },
        {
          title: 'Reg Admin',
          icon: 'account',
          to: { name: 'reg-admin' },
          state: 'reg'
        },
        {
          title: 'Attendance Admin',
          icon: 'account',
          to: { name: 'atnd-admin' },
          state: 'atnd'
        },
        {
          title: 'Certificate Admin',
          icon: 'account',
          to: { name: 'cert-admin' },
          state: 'cert'
        },
        {
          title: 'Correction Admin',
          icon: 'account',
          to: { name: 'correction-admin' },
          state: 'corr'
        },
        {
          title: 'Scan offline QR',
          icon: 'account',
          to: { name: 'offline-qr' },
          state: 'scan'
        },
        {
          title: 'See participant online',
          icon: 'account',
          to: { name: 'query-admin' },
          state: 'scan'
        },

        {
          title: 'Email Admin',
          icon: 'account',
          to: { name: 'email-admin' },
          state: 'mail'
        },
        {
          title: 'Log Out',
          icon: 'logout',
          to: { name: 'logout' },
          state: 'LOGGED_IN'
        }
      ]
      return pages.filter(
        (p) =>
          p.state === 'COMMON' ||
          p.state === this.$store.state.loggedInRole ||
          this.$store.state.loggedInRole === 'data' ||
          ((p.state === 'LOGGED_IN' && this.$store.state.isLoggedIn) ||
            (p.state === 'LOGGED_OUT' && !this.$store.state.isLoggedIn)) ||
          (p.state === 'corr' &&
            (this.$store.state.loggedInRole === 'reg' ||
              this.$store.state.loggedInRole === 'cert' ||
              this.$store.state.loggedInRole === 'pass')) ||
          (p.state === 'scan' && this.$store.state.loggedInRole === 'mail')
      )
    }
  },
  methods: {
    nameify(name) {
      return name.charAt(0).toUpperCase() + name.slice(1)
    }
  }
}
</script>
