<template lang="pug">
  div.root
    h1.page-title Attendance Admin
    p Use the following searchbox to select a workshop or lecture. Then select a participant either by scanning their online qr or by typing their tathva id. Then mark attendance for them. This page do not take attendance for events.
    SearchEvents(:showEvents="false")
    div(v-if="selectedParticipant")
      p.page-subtitle Take Attendance
      div(v-if="!selectedParticipant.declaration_signed")
        b-button.is-danger(disabled) Declaration not signed!
        br
        | Attendance, cannot be taken when participant has not signed the declaration. Ask the participant to read and sign the declaration given in their dashboard.
      div(v-else)
        div.normal-text(v-if="isBooked && !hasAttendance")
          | Give attendence to {{ selectedParticipant.name }} for event {{ selectedEvent.name }}
          br
          br
          b-button.is-primary(v-if="!wait_giving" @click="giveAttendance") Take attendance
          b-button.is-primary(v-else disabled loading) Mark attendance
        b-button(v-if="isBooked && hasAttendance" disabled) Attendance taken
        b-button.is-danger(v-if="!isBooked" @click.prevent="() => {}") Participant is not registered for the selected event
    ParticipantFinder(@found="hasAttendance = false")
    
</template>

<script>
import SearchEvents from '~/components/SearchEvents'
import ParticipantFinder from '~/components/ParticipantFinder'
export default {
  components: {
    SearchEvents,
    ParticipantFinder
  },
  data() {
    return {
      short_id: '',
      hasAttendance: false
    }
  },
  computed: {
    selectedEvent() {
      return this.$store.state.selectedBookableEvent
    },
    selectedParticipant() {
      return this.$store.state.activeParticipant
    },
    isBooked() {
      if (
        this.$store.state.activeParticipant &&
        this.$store.state.selectedBookableEvent
      )
        return this.$store.state.activeParticipant.events.find((event) => {
          console.log(event._id, this.$store.state.selectedBookableEvent._id)
          return this.$store.state.selectedBookableEvent._id === event._id
        })
      else return false
    }
  },
  meta: {
    isAllowed: (role) => {
      return role === 'atnd' || role === 'data'
    }
  },
  methods: {
    async giveAttendance() {
      this.wait_giving = true
      try {
        await this.$store.dispatch('giveAttendance')
        this.hasAttendance = true
        this.wait_giving = false
        this.$buefy.toast.open({
          message: 'Attendance marked',
          type: 'is-success'
        })
      } catch (e) {
        console.log(e)
        if (e.response && e.response.status === 406) {
          this.$buefy.toast.open({
            message: 'An attendance was already taken',
            type: 'is-warning'
          })
          this.hasAttendance = true
          return
        }
        this.wait_giving = false
        this.$buefy.toast.open({
          message: 'Error occured',
          type: 'is-danger'
        })
        throw e
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.root
  width: 100%
  max-width: 400px
</style>
