<template lang="pug">
  div.root
    h1.page-title Certificate Admin
    p.page-subtitle Manual Issue
    div.space
      div.events
        SearchEvents
      div.search-participant
        ParticipantFinder
    div(v-if="selectedParticipant && selectedEvent") 
      b-field(v-if="selectedEvent.category.split(':')[0] === 'event'" label="Winning position (If any)")
        b-select(placeholder='Select a position' v-model="position" required)
          option(value="acquired 1st position in the event") acquired 1st position in the event 
          option(value="acquired 2nd position in the event") acquired 2nd position in the event
          option(value="acquired 3rd position in the event") acquired 3rd position in the event
          option(value="participated in the event") participated in the event
      b-button.is-primary(@click="getCertificateQR" v-if="!wait_submitting") Get certificate
      b-button.is-primary(@click="getCertificateQR" v-if="wait_submitting" loading disabled) Get certificate
    hr(style='background-color: black')
    
</template>

<script>
import ParticipantFinder from '~/components/ParticipantFinder'
import SearchEvents from '~/components/SearchEvents'
export default {
  components: {
    ParticipantFinder,
    SearchEvents
  },
  data() {
    return {
      position: null,
      wait_submitting: false
    }
  },
  computed: {
    selectedParticipant() {
      return this.$store.state.activeParticipant
    },
    selectedEvent() {
      return this.$store.state.selectedBookableEvent
    }
  },
  meta: {
    isAllowed: (role) => {
      return role === 'cert' || role === 'data'
    }
  },
  methods: {
    async getCertificateQR() {
      const type = {
        workshop: 'attended the workshop',
        lecture: 'attended the lecture',
        event: this.position
      }
      this.wait_submitting = true
      const confirm_dialog = `Breif:\nMr./Mrs. ${
        this.selectedParticipant.name
      } of ${this.selectedParticipant.college} has ${
        type[this.selectedEvent.category.split(':')[0]]
      }, ${
        this.selectedEvent.name
      } held as part of Tathva 19 conducted by National Institute of Technology Calicut from October 18 to 20, 2019`
      if (!confirm(confirm_dialog)) {
        this.wait_submitting = false
        return
      }
      const body = {
        short_id: this.selectedParticipant.short_id,
        event_id: this.selectedEvent._id,
        type: this.position
      }
      try {
        await this.$store.dispatch('getCertificateQR', body)
        this.wait_submitting = false
        this.$buefy.toast.open({
          message: 'QR will be downloaded in a moment',
          type: 'is-success'
        })
      } catch (e) {
        this.wait_submitting = false
        this.$buefy.toast.open({
          message: 'Error occured',
          type: 'is-danger'
        })
        throw e
      }
    }
  }
}
</script>

<style lang="sass" scoped>
div.root
  display: block
  width: 100%
  div.space
    width: 100%
    height: auto
    display: flex
    flex-direction: row
    justify-content: left
    .events
      padding: 1em
      width: 400px
    .search-participant
      width: 400px
      padding: 1em
      padding-left: 2em
</style>
