<template lang="pug">
  div
    div.space
      div.actions(v-if="selectedParticipant")
        p.page-subtitle Make Corrections
        form(@submit.prevent="submitCorrection")
          b-field(label="Name" required)
            b-input(v-model="edits.name")
          b-field(label="Gender" required)
            b-field
              b-radio-button(v-model="edits.gender" native-value="male" required)
                span Male
              b-radio-button(v-model="edits.gender" native-value="female" required)
                span Female
              b-radio-button(v-model="edits.gender" native-value="other" required)
                span Other
          b-field(label="College")
            b-input(v-model="edits.college" required)
          b-field(label="Mobile")
            b-input(v-model="edits.mobile" required)
          b-button.is-primary(@click="submitCorrection" v-if="!wait" native-value="submit") Submit
          b-button.is-primary(v-else native-value="submit" loading disabled) Submit
      div.search
        ParticipantFinder(@found="fetchIntoEditor")
</template>

<script>
import ParticipantFinder from '~/components/ParticipantFinder'
export default {
  components: {
    ParticipantFinder
  },
  data() {
    return {
      edits: {},
      wait: true
    }
  },
  computed: {
    selectedParticipant() {
      return this.$store.state.activeParticipant
    }
  },
  meta: {
    isAllowed: (role) => {
      return (
        role === 'pass' || role === 'reg' || role === 'cert' || role === 'data'
      )
    }
  },
  async mounted() {
    if (this.$store.state.activeParticipant) {
      try {
        await this.$store.dispatch('refreshActiveParticipant')
        this.fetchIntoEditor()
      } catch (e) {
        this.$beufy.toast.open({
          message: 'Could not refresh participant',
          type: 'is-warning'
        })
        throw e
      }
    }
  },
  methods: {
    fetchIntoEditor() {
      const {
        name,
        gender,
        college,
        mobile
      } = this.$store.state.activeParticipant
      this.edits = {
        name,
        gender,
        college,
        mobile
      }
      this.wait = false
    },
    async submitCorrection() {
      this.wait = true
      try {
        await this.$store.dispatch('correctParticipantProfile', this.edits)
        await this.$store.dispatch('refreshActiveParticipant')
        this.$buefy.toast.open({
          message: 'Corrections done',
          type: 'is-success'
        })
        this.wait = false
        this.fetchIntoEditor()
      } catch (e) {
        this.wait = false
        this.$buefy.toast.open({
          message: 'Error occured',
          type: 'is-danger'
        })
        throw e
      }
    }
  }
}
</script>

<style lang="sass" scoped>
div.space
  width: 100%
  height: auto
  display: flex
  flex-direction: row
  justify-content: left
  .actions
    padding: 1em
    margin-top: 2em
    width: 400px
  .search
    width: 400px
    padding: 1em
</style>
