<template lang="pug">
  div
    h1.page-title Data Admin
    div.fill-width(v-if="selectedItem")
      p.page-subtitle Raw Event Data
      pre {{ rawSelectedEvent }}
      hr(style='background-color: black')
    div.space(v-if="selectedItem")
      br
      div.fill-width
        p.page-subtitle Edit Event
        form.fill-width(@submit.prevent="submitEventEdits")
          br
          b-field(label="name")
            b-input(v-model="eventedits.name")
          b-field(label="description")
            b-input(type="textarea" v-model="eventedits.description")
          b-field(label="category")
            b-input(v-model="eventedits.category")
          p.normal-text Meta
          div(v-for="key in Object.keys(eventedits.meta)")
            b-field(:label="key")
              b-input(v-model="eventedits.meta[key]")
          br
          b-button.is-primary(v-if="!edit_waiting && eventedits.name && eventedits.category" native-type="submit") Submit
          b-button.is-primary(v-else-if="edit_waiting" native-type="submit" loading disabled) Submit
    hr(style='background-color: black')
    div.space
      div.events-space
        p.page-subtitle Find Event
        b-field(label="Name")
          b-input(v-model="event_name")
        b-field(label="categories")
          div
            b-checkbox(v-model="workshop_seen") Workshops
            b-checkbox(v-model="lecture_seen") Lectures
            b-checkbox(v-model="event_seen") Events
        EventsList(v-if="!selectedItem" :events="queriedEvents" :cardAction="selectItem")
        EventsList(v-else :events="[selectedItem]" :cardAction="selectItem")
      div.search-space
        ParticipantFinder
    hr(style='background-color: black')
    div.fill-width
      br
      div.fill-width
        p.page-subtitle Add Admin
        form.fill-width(@submit.prevent="addAdmin")
          b-field(label="username")
            b-input(v-model="newadmin.username")
          b-field(label="password")
            b-input(v-model="newadmin.password")
          b-field(label="role")
            b-input(v-model="newadmin.role")
          b-button.is-primary(native-type="submit") Submit
      
      //- Backend API calls have not been implemented for this!
      //- div.fill-width
      //-   p.page-subtitle Admins List
      //-   b-button(@click="fetchAdminsList") Fetch 
      //-   br
      //-   div(v-for="admin in adminsList")
      //-     p {{ admin.username }}
      //-     p {{ admin.role }}
      //-     b-button.is-danger Remove admin
</template>

<script>
import EventsList from '~/components/EventsList'
import ParticipantFinder from '~/components/ParticipantFinder'
import AdvancedParticipantFinder from '~/components/AdvancedParticipantFinder'
export default {
  components: {
    EventsList,
    AdvancedParticipantFinder,
    ParticipantFinder
  },
  data() {
    return {
      event_name: '',
      workshop_seen: true,
      lecture_seen: true,
      event_seen: true,
      eventedits: {
        meta: {}
      },
      adminsList: [],
      newadmin: {},
      selectItem: (itemid) => {
        try {
          this.$store.dispatch('selectItem', itemid)
        } catch (e) {
          this.$buefy.toast.open({
            message: 'Error, unable to select item',
            type: 'is-danger'
          })
          throw e
        }
      },
      edit_waiting: false
    }
  },
  meta: {
    isAllowed: (role) => {
      return role === 'data'
    }
  },
  computed: {
    rawSelectedEvent() {
      return JSON.stringify(this.$store.state.selectedBookableEvent, null, 2)
    },
    queriedEvents() {
      return this.$store.state.allEvents.filter((event) => {
        const topcat = event.category.split(':')[0]
        return (
          ((this.workshop_seen && topcat === 'workshop') ||
            (this.lecture_seen && topcat === 'lecture') ||
            (this.event_seen && topcat === 'event')) &&
          event.name.toLowerCase().includes(this.event_name.toLowerCase())
        )
      })
    },
    allEvents() {
      return this.$store.state.allEvents
    },
    selectedItem() {
      return this.$store.state.selectedBookableEvent
    }
  },
  watch: {
    selectedItem(newval, oldval) {
      if (newval == null)
        this.eventedits = {
          meta: {}
        }
      else
        this.eventedits = {
          name: newval.name,
          description: newval.description,
          category: newval.category,
          meta: { ...newval.meta }
        }
    }
  },
  async mounted() {
    try {
      await this.$store.dispatch('loadEvents')
    } catch (e) {
      this.$buefy.toast.open({
        message: 'Could not load events data',
        type: 'is-danger'
      })
      throw e
    }
  },
  methods: {
    async addAdmin() {
      try {
        await this.$store.dispatch('addAdmin', this.newadmin)
        this.$buefy.toast.open({
          message: 'Admin added',
          type: 'is-info'
        })
      } catch (e) {
        this.$buefy.toast.open({
          message: 'Error occured',
          type: 'is-danger'
        })
        throw e
      }
    },

    // Backend API calls have not been implemented for this!
    // async fetchAdminsList() {
    //   try {
    //     this.adminsList = await this.$store.dispatch('returnAdminsList')
    //   } catch (e) {
    //     this.$buefy.toast.open({
    //       message: 'error occured',
    //       type: 'is-danger'
    //     })
    //   }
    // },
    // async deleteAdmin(_id) {
    //   try {
    //     await this.$store.dispatch('removeAdmin', _id)
    //     this.$buefy.toast.open({
    //       message: 'Remvoved admin',
    //       type: 'is-info'
    //     })
    //   } catch (e) {
    //     this.$buefy.toast.open({
    //       message: 'Error occured',
    //       type: 'is-danger'
    //     })
    //   }
    // },

    async submitEventEdits() {
      this.edit_waiting = true
      try {
        await this.$store.dispatch('editEvent', this.eventedits)
        await this.$store.dispatch('refreshSelectedBookableEvent')
        this.$buefy.toast.open({
          message: 'Edit done',
          type: 'is-success'
        })
        this.edit_waiting = false
      } catch (e) {
        this.edit_waiting = false
        if (e.response) {
          this.$buefy.toast.open({
            message: 'Error: ' + e.response.message,
            type: 'is-danger'
          })
          return
        }
        this.$buefy.toast.open({
          message: 'Error: No response',
          type: 'is-danger'
        })
        throw e
      }
    }
  }
}
</script>

<style lang="sass" scoped>
pre
  width: 1000px
  overflow-x: scroll
.fill-width
  width: 100%
.space
  width: 100%
  height: auto
  position: relative
  display: flex
  flex-direction: row
  justify-content: left
  .events-space
    position: relative
    padding: 1em
    width: 400px
  .search-space
    position: relative
    width: 400px
    padding: 1em
</style>
