<template lang="pug">
  div.space
    div.actions
      p.page-subtitle Query Results
      div.result-card(v-for="p in queriedParticipants")
        p User ID: {{ p.authID }}
        p Email: {{ p.email }}
        p Name: {{ p.name }}
        p College: {{ p.college }}
        p Mobile: {{ p.mobile }}
        p Tathva ID: {{ p.short_id }}
        b-button.is-small(@click="() => changeEmail(p)") Change Email
    div.search
      p.page-title Email Reset
      div(v-if="selectedParticipant")
      p.page-subtitle Find Participant
      b-field(label="name")
        b-input(v-model="name")
      b-field(label="email")
        b-input(v-model="email")
      b-field(label="college")
        b-input(v-model="college")
      b-field(label="user id")
        b-input(v-model="authID")
      b-field(label="mobile")
        b-input(v-model="mobile")
      b-button.is-primary(v-if="!waiting" @click="fuzzyQuery") Submit Query
      b-button.is-primary(v-if="waiting" loading disabled) Submit Query

</template>

<script>
export default {
  data() {
    return {
      email: '',
      name: '',
      authID: '',
      college: '',
      mobile: '',
      waiting: false
    }
  },
  computed: {
    queriedParticipants() {
      return this.$store.state.filteredParticipants
    }
  },
  meta: {
    isAllowed: (role) => {
      return role === 'mail' || role === 'data'
    }
  },
  methods: {
    async fuzzyQuery() {
      this.waiting = true
      if (
        this.name.length < 4 &&
        this.email.length < 4 &&
        this.college.length < 4 &&
        this.authID.length < 4 &&
        this.mobile.length < 4
      ) {
        this.$buefy.toast.open({
          message: 'Atleast one field should have more than 3 charecters',
          type: 'is-info'
        })
        this.waiting = false
        return
      }
      try {
        await this.$store.dispatch('fetchFilteredParticipants', {
          name: this.name,
          email: this.email,
          college: this.college,
          authID: this.authID,
          mobile: this.mobile
        })
        this.waiting = false
      } catch (e) {
        this.waiting = false
        console.log(e)
        this.$buefy.toast.open({
          message: 'Error occured',
          type: 'is-danger'
        })
        throw e
      }
    },
    async changeEmail(p) {
      const email = prompt('Please enter a new email for ' + p.name)
      if (confirm('Set new email id of ' + p.name + ' as ' + email)) {
        try {
          await this.$store.dispatch('changeEmail', {
            authID: p._id,
            email
          })
          this.$buefy.toast.open({
            message: 'Email changed',
            type: 'is-success'
          })
        } catch (e) {
          console.log(e)
          this.$buefy.toast.open({
            message: 'Error occured',
            type: 'is-danger'
          })
          throw e
        }
      }
    }
  }
}
</script>

<style lang="sass" scoped>
div.space
  width: 100%
  height: auto
  display: flex
  flex-direction: row
  justify-content: left
  .actions
    padding: 1em
    margin-top: 2em
    width: 400px
  .search
    width: 400px
    padding: 1em
.result-card
  padding: 1em
  border: 1px solid black
  margin: 4px 0
</style>
