<template lang="pug">
  div
</template>

<script>
import helpers from '~/library/helpers.js'
export default {
  mounted() {
    const landingPage = helpers.landingPager()
    if (this.$store.state.isLoggedIn)
      this.$router.replace(landingPage[this.$store.state.loggedInRole])
    else this.$router.replace('/login')
  }
}
</script>
