<template lang="pug">
  div
    LoginForm(@login="redirect")
</template>

<script>
import helpers from '~/library/helpers.js'
import LoginForm from '~/components/LoginForm'
export default {
  components: {
    LoginForm
  },
  methods: {
    redirect() {
      const landingPage = helpers.landingPager()
      this.$router.replace('/' + landingPage[this.$store.state.loggedInRole])
    }
  }
}
</script>
