<template>
  <div></div
></template>

<script>
export default {
  validate({ params, store }) {
    return store.state.isLoggedIn
  },
  mounted() {
    this.$store.dispatch('logout')
    this.$router.replace('/')
  }
}
</script>

<style></style>
