<template lang="pug">
  div.root
    b-button.is-primary(@click="scanning = true" v-if="!scanning") Scan
    b-button.is-primary(@click="scanning = false" v-if="scanning") Stop
    QrcodeStream(v-if="scanning" @decode="onDecode")
    br
    br
    div(v-if="qr_result")
      p.normal-text Tathva ID: 
        span.page-subtitle {{ qr_result.tathva_id }}
      div.result-card(v-if="qr_result.tathva_pass")
        p.normal-text This person with above tathva id has a valid tathva pass with wich he can participate in events
        b-button.is-success Allowed entry to Events
      div.result-card(v-if="!qr_result.tathva_pass")
        p.normal-text The person with the above tathva id does not have a tathva pass
        b-button.is-danger Not allowed entry to Events
      div.result-card(v-if="qr_result.bookings > 0")
        p.normal-text The person with the above tathva id has paid for {{ this.qr_result.bookings }} item(s).
        b-button.is-info {{ qr_result.bookings }} booking(s) found
</template>

<script>
import { QrcodeStream } from 'vue-qrcode-reader'
export default {
  components: {
    QrcodeStream
  },
  data() {
    return {
      scanning: false,
      qr_result: false
    }
  },
  meta: {
    isAllowed: (role) => {
      return role === 'scan' || role === 'mail' || role === 'data'
    }
  },
  methods: {
    verify() {
      this.$store.dispatch('verifyOfflineSignedQR')
    },
    async onDecode(decodedString) {
      console.log(decodedString, typeof decodedString)
      try {
        const result = await this.$store.dispatch(
          'verifyOfflineSignedQR',
          decodedString
        )
        if (result) {
          this.qr_result = result
          console.log('Result', result)
          this.scanning = false
        } else {
          this.scanning = false
          this.$buefy.toast.open({
            message: 'Error, invalid QR',
            type: 'is-danger'
          })
        }
      } catch (e) {
        this.scanning = false
        console.log(e)
        this.$buefy.toast.open({
          message: 'Some error occured',
          type: 'is-danger'
        })
        throw e
      }
    }
  }
}
</script>

<style lang="sass" scoped>
div.root
  div.result-card
    margin: 1em 0
    border: 1px solid black
    padding: 1em
</style>
