<template lang="pug">
  div
    ParticipantFinder
</template>

<script>
import ParticipantFinder from '~/components/ParticipantFinder'
export default {
  components: {
    ParticipantFinder
  },
  meta: {
    isAllowed: (role, isloggedin) => {
      return role === 'scan' || role === 'mail' || role === 'data'
    }
  }
}
</script>
