<template lang="pug">
  div
    b-checkbox.is-small(v-model="enableWorkshopReg" style="float: right") Workshop reg {{ enableWorkshopReg?'enabled':'disabled' }}
    h1.page-title Reg Admin
    p Select a participant on the right section either by scanning their qr code or by typing their 6 digit qr. Then search and select a lecture from the left section. A box will be seen showing the selected participant and lecture with a button to complete the registration along with the number of seats that are already booked. Make sure you are issuing the right lecture to the right participant. Also keep count of how many seats are booked. It is your responsibility stop booking for a lecture once all its seats are booked. Count will be shown on the confirmation box with a refresh button which you must use to get the actual count at a time. After registering one person, make sure that the lecture is listed under booked items in the participant's profile shown on the right section.
    div.space
      div.actions(v-if="activeParticipant")
        div.reg-box(v-if="selectedItem && activeParticipant")
          p.name Participant: 
          span.normal-text {{ activeParticipant.name }}
          hr
          p.name Event: 
          span.normal-text {{ selectedItem.name }}
          p.name Seats booked: 
            span.page-title {{ selectedItem.reg_count }} 
          b-button.is-small(@click="refreshItem" :loading="wait_refreshing") Refresh count
          br
          div(v-if="!wait_issueing")
            div(v-if="activeParticipant.declaration_signed")
              b-button.is-primary.proceed(@click="proceedToReg" v-if="!hasRegedAlready && activeParticipant.tathva_pass") Proceed to reg?
              b-button.proceed(v-else-if="hasRegedAlready" disabled) Registration done
              b-button.proceed.is-primary(@click="proceedToReg" v-else-if="enableWorkshopReg && isWorkshop") Proceed to reg?
              b-button.proceed(v-else-if="isWorkshop" disabled) Workshop reg disabled
              b-button.proceed(v-else disabled) Take tathva pass before lecture
            div(v-else)
              b-button.is-danger(disabled) Declaration not signed!
              br
              | Attendance, cannot be taken when participant has not signed the declaration. Ask the participant to read and sign the declaration given in their dashboard.
          b-button.proceed.is-primary(v-else loading disabled) Proceed to reg
        form(@submit.prevent)
          b-field(label='Search Event')
            b-input(v-model="query")
        p.page-subtitle Regable Events
        EventsList(:events="queriedEvents" :cardAction="selectItem")
      div.search
        ParticipantFinder(:itemAction="unregAction")
</template>

<script>
import EventsList from '~/components/EventsList'
import ParticipantFinder from '~/components/ParticipantFinder'
export default {
  components: {
    ParticipantFinder,
    EventsList
  },
  data() {
    return {
      wait_refreshing: false,
      wait_issueing: false,
      query: '',
      selectItem: (item) => {
        try {
          this.$store.dispatch('selectItem', item)
        } catch (e) {
          this.$buefy.toast.open({
            message: 'Error, unable to select item',
            type: 'is-danger'
          })
          throw e
        }
      },
      unregAction: {
        label: 'Unregister',
        fn: async (event) => {
          if (
            confirm(
              'Proceed with caution. This will invalidate ' +
                this.$store.state.activeParticipant.name +
                "'s ticket for event " +
                event.name
            ) &&
            prompt('Type the password to unregister') === 'breakfree'
          ) {
            try {
              await this.$store.dispatch('unregEventOfParticipant', event._id)
              await this.$store.dispatch('refreshActiveParticipant')
              this.$buefy.toast.open({
                message: 'Registration undoed',
                type: 'is-success'
              })
            } catch (e) {
              this.$buefy.toast.open({
                message: 'Some error occured',
                type: 'is-danger'
              })
              throw e
            }
          } else
            this.$buefy.toast.open({
              message: 'Cancelled operation',
              type: 'is-warning'
            })
        }
      },
      enableWorkshopReg: false
    }
  },
  computed: {
    isWorkshop() {
      return (
        this.$store.state.selectedBookableEvent.category.split(':')[0] ===
        'workshop'
      )
    },
    selectedItem() {
      return this.$store.state.selectedBookableEvent
    },
    activeParticipant() {
      return this.$store.state.activeParticipant
    },
    queriedEvents() {
      if (this.$store.state.bookableEvents)
        return this.$store.state.bookableEvents.filter((event) => {
          const topcat = event.category.split(':')[0]
          return (
            event.name.toLowerCase().includes(this.query.toLowerCase()) &&
            !this.$store.state.activeParticipant.events.find(
              (e) => event._id === e._id
            ) &&
            (this.enableWorkshopReg || topcat !== 'workshop')
          )
        })
      else return []
    },
    hasRegedAlready() {
      return this.$store.state.activeParticipant.events.find(
        (event) => event._id === this.$store.state.selectedBookableEvent._id
      )
    }
  },
  meta: {
    isAllowed: (role) => {
      return role === 'reg' || role === 'data'
    }
  },
  async mounted() {
    try {
      await this.$store.dispatch('loadBookableEvents')
    } catch (e) {
      this.$buefy.toast.open({
        message: 'Could not load events list',
        type: 'is-danger'
      })
      throw e
    }
  },
  methods: {
    async refreshItem() {
      this.wait_refreshing = true
      try {
        await this.$store.dispatch('refreshSelectedBookableEvent')
        this.wait_refreshing = false
        this.$buefy.toast.open({
          message: 'Count refreshed',
          type: 'is-info'
        })
      } catch (e) {
        this.wait_refreshing = false
        this.$buefy.toast.open({
          message: 'Some error occured',
          type: 'is-danger'
        })
        throw e
      }
    },
    async proceedToReg() {
      this.wait_issueing = true
      if (
        !confirm(
          'Register ' +
            this.activeParticipant.name +
            ' for item ' +
            this.selectedItem.name +
            '?'
        )
      ) {
        this.wait_issueing = false
        return
      }

      try {
        await this.$store.dispatch('adminRegParticipant')
        await this.$store.dispatch('refreshActiveParticipant')
        await this.$store.dispatch('refreshSelectedBookableEvent')
        this.wait_issueing = false
        this.$buefy.toast.open({
          message: 'Registration done',
          type: 'is-success'
        })
      } catch (e) {
        console.log(e)
        this.wait_issueing = false
        this.$buefy.toast.open({
          message: 'Error occured',
          type: 'is-danger'
        })
        throw e
      }
    }
  }
}
</script>

<style lang="sass" scoped>
div.root
  width: 100%
div.space
  width: 100%
  height: auto
  display: flex
  flex-direction: row
  justify-content: left
  .reg-box
    padding: 1em
    margin-bottom: 1em
    .proceed
      margin-top: 1em
  .actions
    padding: 1em
    margin-top: 2em
    width: 400px
  .search
    width: 400px
    padding: 1em
</style>
