<template lang="pug">
  div.root
    h1.page-title Tathva Pass Admin
    div.space
      div.actions(v-if="activeParticipant")
        div(v-if="!activeParticipant.tathva_pass")
          p You are about to issue common event pass to 
            span.page-subtitle {{ activeParticipant.name }}
            |  with wich he/she can participate for any common event.
          br
          br
          div(v-if="activeParticipant.declaration_signed")
            b-button.is-primary(v-if="!wait_issueing" @click="issuePass") Issue Tathva Pass
            b-button.is-primary(v-else="wait_issueing" loading disabled) Issue Tathva Pass
            div(v-else)
              p.normal-text Tathva pass issued to {{ activeParticipant.name }}
          div(v-else)
            b-button.is-danger(disabled) Declaration not signed!
            br
            | Attendance, cannot be taken when participant has not signed the declaration. Ask the participant to read and sign the declaration given in their dashboard.
        p.normal-text(v-else) Tathva pass issued  
      div.search
        ParticipantFinder
</template>

<script>
import ParticipantFinder from '~/components/ParticipantFinder'
export default {
  components: {
    ParticipantFinder
  },
  data() {
    return {
      wait_issueing: false
    }
  },
  meta: {
    isAllowed: (role) => {
      return role === 'pass' || role === 'data'
    }
  },
  computed: {
    activeParticipant() {
      return this.$store.state.activeParticipant
    }
  },
  methods: {
    async issuePass() {
      this.wait_issueing = true
      if (
        !confirm(
          'Proceed to issue tathva pass to ' +
            this.activeParticipant.name +
            '?' +
            ' This cannot be reversed!'
        )
      )
        return
      try {
        await this.$store.dispatch('issueCommonPassToActiveParticipant')
        await this.$store.dispatch('refreshActiveParticipant')
        this.$buefy.toast.open({
          message: 'Pass issued',
          type: 'is-success'
        })
        this.wait_issueing = false
      } catch (e) {
        console.log(e)
        this.wait_issueing = false
        this.$buefy.toast.open({
          message: 'Some error occured',
          type: 'is-danger'
        })
        throw e
      }
    }
  }
}
</script>

<style lang="sass" scoped>
div.root
  width: 100%
div.space
  width: 100%
  height: auto
  display: flex
  flex-direction: row
  justify-content: left
  .actions
    padding: 2em
    margin-top: 2em
    width: 400px
</style>
